body {
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      height: 100%;
}

.mainlogo{
	margin-bottom: 18%;
	width: 50%;
}

.loginbody{
	background-color:#183A56;
}

.form{
	border-radius: 0;
	width: 100%;
	margin: 8px 0;
	height: 50px;
}

.btn-primary{
	background-color: #1C73BA;
	color: #183A56;
	font-weight: bold;
}
/****************************************/
.side{
	position: fixed;
	text-align: center;
	width: 20%;
	height: 100vh;
	background-color: #183A56;
	color: #17C7CB;
	display: inline-block;
}

.sidebarbody{
	background-color:#fff;
}

.avatar{
	width: 40%;
	margin-top: 15%;
}

.editprofil{
	margin-top: 5%;
}

hr{
	margin: 0;
	background-color: #17C7CB;
}

.sidenav{
	padding: 3% 0;
}

.sidenav:hover{
	background-color:#17C7CB;
	color: #183A56;
}

.logout{
	position: absolute;
	margin: 5% 35%;
	bottom: 0;
}

.logout:hover{
	color: #fff;
}

h3{
	margin-top: .5rem;
}

a{
	color: #17C7CB;
}

a:hover{
	text-decoration: none;
}

.active{	
	background-color:#17C7CB;
	color: #183A56;
}
/****************************/

.header{
	background-color: #EDEDED;
	height: 15%;
}

.pagetitle{
	width: 59%;
	display: inline-block;
	padding: 2.5% 5%;
	color: #183A56;
}

.headersearchform{
	float: right;
	padding-top: 3%;
	width: 40%;
	display: inline-block;
}

.searchform{
	display: inline-block;
	border-radius: 0;
	width: 80%;
	height: 50px;
}

.searchbtn{
	display: inline-block;
	border-radius: 0;
	width: 10%;
	height: 50px;
	background-color: #183A56;
	padding: 0;
}

.fa-search{
	color: #fff;
	width: 50px;
}

/****************************/

.mainbody{
	background-color: #fff;
}

.content{
	display: inline-block;
	height: 100%;
	width: 80%;
	margin-left: 20%;
	background-color: #fff;
}

.maincontent{
	padding: 5%;
}

/****************************/

.kantormaintabelheader{
	background-color: #183A56;
	padding: 8px;
	color: #fff;
}

h4{
	margin: 0;
}

.kantormaintambahbtn{
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #005859;
	color: #fff;
	padding-top: 6px;
	margin-right: 3px;
}

.kantormainprodukbtn{
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #69A6DC;
	color: #fff;
	padding-top: 13px;
	margin-left: 3px;
}

.kantormaintambahbtn:hover, .kantormainprodukbtn:hover{
	color: #fff;
}

.kantormainselect{
	margin: 3px;
	width: 12.5%;
	display: inline-block;
	border-radius: 0;
}

.kantormainfiltersubmit{
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #183A56;
	color: #fff;
	margin-left: 3px;
}

.kantormainselectkantor{
	margin: 3px;
	width: 20.5%;
	display: inline-block;
}

.kantormainformlabel{
	display: inline-block;	
}

.kantormainselectvpv{
	width: 100%;
}

/*************************************/

.modalheader{
	background-color: #183A56;
	color: #15C7CB;
	text-align: center;
}

.modalfooter{
	width: 25%;
	margin: 5% 0 2% 75%;
}

.modalleftbtn{
	width: 47%;
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #999;
	color: #fff;
	padding-top: 6px;
	margin-right: 3px;
}

.modalrightbtn{
	width: 47%;
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #183A56;
	color: #fff;
	padding-top: 6px;
	margin-left: 3px;
}

/*************************************/

td{
	vertical-align: middle !important;
}

.kantordaftarubah{
	width: 47%;
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #D45C00;
	color: #fff;
	padding-top: 6px;
}

.kantordaftarubah:hover{
	color: #fff;
}

.kantordaftarhapus{
	width: 47%;
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #D63438;
	color: #fff;
	padding-top: 6px;
}

/*************************************/

.agentree{
	height:75%; 
}

.agenfooter{
	height: 10%;
}

.agentambahbtn{
	width: 15%;
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #183A56;
	color: #fff;
	padding-top: 6px;
	margin-left: 80%;
}

.agencontainer{
	padding: 5%;
}

.agenkembalihapusubah{
	width: 35%;
	margin-left: 65%;
}

.agenkembali{
	width: 30%;
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #999;
	color: #fff;
	padding-top: 6px;
	margin-bottom: 5%;
}

.agenhapus{
	width: 30%;
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #D63438;
	color: #fff;
	padding-top: 14px;
	margin-bottom: 5%;
}

.agenhapus:hover{
	color: #fff;
}

.agenubah{
	width: 30%;
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #183A56;
	color: #fff;
	padding-top: 6px;
	margin-bottom: 5%;
}

.agentransfer{
	width: 47%;
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #183A56;
	color: #fff;
	padding-top: 6px;
}

.agendetailbtn{
	width: 47%;
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #005859;
	color: #fff;
	padding-top: 6px;
}

.agendetailkembalibtn{
	display: inline-block;
	border-radius: 0;
	height: 50px;
	background-color: #005859;
	color: #fff;
	padding-top: 13px;
	margin-left: 3px;
}

.agendetailkembalibtn:hover, .agendetailbtn:hover{
	color: #fff;
}

.tabelkiri{
	width: 37.5%;
	background-color: #183A56;
	color: #fff;
}

/*************************************/

.propertyselect{
	margin: 3px;
	width: 20.5%;
	display: inline-block;
}

.closingdetailedit{
	width: 20%;
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #005859;
	color: #fff;
	padding-top: 6px;
}

.closingdetailedit:hover{
	color: #fff;
}

.closingdetaildelete{
	width: 20%;
	display: inline-block;
	border-radius: 0;
	height: 35px;
	background-color: #D63438;
	color: #fff;
	padding-top: 6px;
}